
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
   
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-left">


                    @Html.Action("ChooseUser","UsersTask")


            </div>
        </div>
        
    </section>

