


@model CRM.ViewModels.Admin.NotCompletedRequestDeleteViewModel

@using (Html.BeginForm("NotCompletedRequestDelete", "NotCompletedRequest", new { Area = String.Empty }, FormMethod.Post, new { id = "NotCompletedRequestDeleteForm", role = "form" }))
{




    <div class="modal-dialog modal-confirm">

        <div class="modal-header flex-column">
            <div class="icon-box">
                <i class="material-icons">&#xE5CD;</i>
            </div>
        </div>
        <div class="modal-body">
            <p>Do you really want to delete these records? This process cannot be undone.</p>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>

    </div>

    @Html.HiddenFor(x => x.Id)
    <div class="clearfix"></div>
}


